@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-primary;
}

p {
  @apply leading-body font-extralight;
}
.text-title {
  font-size: 48px;
}
.text-body {
  font-size: 22px;
}

/* Navbar Section */
.navbar {
  @apply text-white bg-primary uppercase py-4;
}
.navbar .applay {
  @apply hidden md:flex bg-third w-24 h-24 items-center justify-center text-white text-center rounded-full absolute md:right-44 top-6 uppercase font-bold cursor-pointer transform hover:scale-110 duration-500 z-10;
}
.navbar .nav-controll {
  @apply relative w-8 p-1 bg-black bg-opacity-50 md:bg-opacity-0;
}
.navbar .nav-controll span {
  @apply block h-0 border-t-2 border-white;
}

.navbar .nav-controll span:not(:last-of-type) {
  margin-bottom: 5px;
}
.navbar .nav-controll::before,
.navbar .nav-controll::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  position: absolute;
  background: #685dc5;
  transition: all 0.1s linear;
}
.navbar .nav-controll::before {
  top: 2px;
  left: 8px;
}
.navbar .nav-controll::after {
  bottom: 2px;
  right: 8px;
}
.navbar .nav-controll:hover::before,
.navbar .nav-controll:hover::after {
  right: unset;
  left: 50%;
  transform: translateX(-50%);
}

/* Header Section */

header .header-title h1 {
  @apply font-primary inline text-primary font-bold  leading-title relative;
}
header .details {
  @apply text-secondary py-10 flex flex-col gap-y-10;
}
header .details button {
  @apply bg-primary text-white rounded-3xl w-40 h-12 text-sm;
}

header .app-info .app-time {
  @apply border rounded border-gray-200 py-5 px-4 mb-5 bg-white;
}

header .app-info .app-details {
  @apply border rounded border-gray-200 py-5 px-4 grid grid-cols-2 gap-5 bg-white;
}

header .details {
  grid-area: details;
}
header .app-info {
  grid-area: app-info;
}

header .container {
  grid-template-areas:
    "title app-info"
    "details app-info";
}

@media (max-width: 768px) {
  header .container {
    grid-template-areas:
      "title"
      "app-info"
      "details";
  }
}
